.first_btn{
  padding: 18px 10px;
  background-color: black;
  min-width: 220px;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.mail_btn{
  padding: 18px 10px;
  border: 1px solid black;
  background-color: white;
  min-width: 220px;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;

}





